<div class="blog-header">
	<h1 class="blog-title">Listado de Motocicletas</h1>
	<p class="lead blog-description">Vea la lista de motocicletas investigadas por nosotros y profundice en sus detalles haciendo clic sobre su nombre.</p>
</div>

<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="orderProperty" class="col-sm-2 control-label">Ordenar por:</label>
		<div class="col-sm-3">
			<select class="form-control" name="orderProperty" ng-model="propertyName">
				<option selected value="Nombre">Nombre</option>
				<option value="Precio">Precio</option>
			</select>
		</div>
		<div class="col-sm-1">
			<button class="btn btn-default" ng-click="reverse = !reverse">
				<span class="sortorder" ng-class="{reverse: reverse}"></span>
			</button>
		</div>
		<label for="filtro" class="col-sm-1 control-label">Buscar:</label>
		<div class="col-sm-5 input-group">
			<input type="text" name="filtro" ng-model="query" class="form-control" placeholder="Escriba filtros aquí" />
			<span class="input-group-addon"><button ng-click="clearQuery();" ng-disabled="query === undefined || query == ''">X</button></span>
		</div>
	</div>
</form>

<div class="row">
	<div class="col-sm-12 blog-main">
		<ul>
			<li ng-repeat="motorcycle in motorcycles | filter:query | orderBy:propertyName:reverse" class="thumbnail motorcycle-list">
				<div class="row">
					<div class="col-sm-1 thumbnail">
						<img ng-src="{{motorcycle.Imagen}}">
					</div>
					<div class="col-sm-11">
				        <a ng-href="#/motorcycles/{{motorcycle.Id}}/"><strong>{{motorcycle.Nombre}}</strong></a>
				        <p>${{motorcycle.Precio}}</p>
				        <p>{{motorcycle.Descripcion}}</p>
			        </div>
		        </div>
			</li>
		</ul>
	</div>
</div>